[submodule "third-party/kotlinx/kotlinx-datetime"]
	path = crates/klio-kotlinx-datetime/upstream
	url = https://github.com/Kotlin/kotlinx-datetime
[submodule "third-party/kotlinx/kotlinx-coroutines"]
	path = crates/klio-kotlinx-coroutines/upstream
	url = https://github.com/Kotlin/kotlinx.coroutines
[submodule "third-party/kotlinx/kotlinx-atomicfu"]
	path = crates/klio-kotlinx-atomicfu/upstream
	url = https://github.com/Kotlin/kotlinx-atomicfu
[submodule "third-party/kotlinx/kotlinx-io"]
	path = crates/klio-kotlinx-io/upstream
	url = https://github.com/Kotlin/kotlinx-io
[submodule "third-party/kotlinx/kotlinx-serialization"]
	path = crates/klio-kotlinx-serialization/upstream
	url = https://github.com/Kotlin/kotlinx.serialization
